.left_content
	.title_box
		a(href="/productCatalog") All Categories
	ul.left_menu
		li.odd
			a(href="/productCatalog/car") Car
		li.even
			a(href="/productCatalog/laptop") Laptop
		li.odd
			a(href="/productCatalog/tv") TV