.right_content
	.shopping_cart
		.cart_title
			Shopping Cart
		.cart_details 3 items
			span.border_cart Total : 
				span.price $350
		.cart_icon
			a(href="#")
				img(src="/images/shoppingcart.png",width="48px", height="48px")
		