
h1 {color:gold;text-align:center;font-family:Arial,Bookman, serif ;font-size:60px;
}
body
{
font-family:Trebuchet MS, Helvetica, sans-serif,Lucida Sans Unicode;
background-image:url('../images/bg.jpg');

}
table
{
position:relative;

}



.asterisk
{
	position:relative;
	margin-top:-20px;
	left:10px; 
	color:red; 
	font-size:12px;
}


.text-design
{
color:azure;
text-decoration:none;
opacity:70;
filter:alpha(opacity=70);
}



input.one 
{
font-weight:bold;
opacity:70;
filter:alpha(opacity=70);
}


select
{
opacity:70;
filter:alpha(opacity=70);
}

input.bt
{
background-color:Grey;
font-weight:bold;
}

h1
{
font-weight:bold;
}

.red
{
color:red;
}
