<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WebStarter Inc.- Mobile, IoT and BigData Solutions</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    WebStarter Inc.
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Mobile</a>
                            </li>
                            <li>
                                <a href="products-bigdata.html">BigData</a>
                            </li>
                            <li>
                                <a href="products-iot.html">IoT/IoE</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="management.html">Management</a>
                            </li>
                            <li>
                                <a href="#">Code Of Conduct</a>
                            </li>
                            <li>
                                <a href="#">Business Process</a>
                            </li>
                            <li>
                                <a href="location.html">Locations</a>
                            </li>
                            <li>
                                <a href="#">Contacts</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Management
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li><a href="#">About Us</a>
                    </li>
                    <li class="active">Management</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="images/logo.png" alt="">
            </div>
            <div class="col-md-6">
                <h2>About WebStarter Inc.</h2>
                <p>We provide end-to-end solutions and services in data warehousing, big data and analytics , and marketing applications that enable you to become a data-driven business… one that’s positioned to increase revenue, improve efficiency, and create the most compelling experience for your customers.</p>
                <p>We provide startups and established brands strategy, design, and development services for innovative iOS and Android apps along with the required server-side solutions and mobile responsive websites.</p>
                <p>We are also a global management consulting firm that serves leading businesses, governments, non governmental organizations, and not-for-profits. We help our clients make lasting improvements to their performance and realize their most important goals.</p>
                <p>After all, your business is about your customers. </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail" data-toggle="modal" data-target="#myModal">
                    <img class="img-responsive myimage" src="images/prof1.jpg" alt="">
                    <div class="caption">
                        <h3>John Yang<br>
                            <small>Co-founder &amp; CEO</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail" data-toggle="modal" data-target="#myModal">
                    <img class="img-responsive myimage" src="images/prof2.jpg" alt="">
                    <div class="caption">
                        <h3>James Gordon<br>
                            <small>COO</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail" data-toggle="modal" data-target="#myModal">
                    <img class="img-responsive myimage" src="images/prof3.jpg" alt="">
                    <div class="caption">
                        <h3>Anna Smith<br>
                            <small>Marketing &amp; HR</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail" data-toggle="modal" data-target="#myModal">
                    <img class="img-responsive myimage" src="images/prof4.jpg" alt="">
                    <div class="caption">
                        <h3>Phil Jones<br>
                            <small>CTO &amp; Senior Architect</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail" data-toggle="modal" data-target="#myModal">
                    <img class="img-responsive myimage" src="images/prof5.jpg" alt="">
                    <div class="caption">
                        <h3>Jonny Walker<br>
                            <small>Software Developer</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail" data-toggle="modal" data-target="#myModal">
                    <img class="img-responsive myimage" src="images/prof6.jpg" alt="">
                    <div class="caption">
                        <h3>Fred Hammond<br>
                            <small>Data Scientist</small>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Social media -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a class="twitter-timeline" href="https://twitter.com/hashtag/IoT" data-widget-id="658408832608022528">#IoT Tweets</a>
                </div>

                <div class="col-md-6">
                    <a class="twitter-timeline" href="https://twitter.com/hashtag/BigData" data-widget-id="658396675510177792">#BigData Tweets</a>
                </div>
            </div>
        </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; WebStarter Inc. 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->


    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Profile</h4>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>

    <style type="text/css">
        .myimage {
            height: 450px !important;
        }
    </style>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Twitter widget -->
    <script>
        !function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';

            if(!d.getElementById(id)){
                js=d.createElement(s);
                js.id=id;
                js.src=p+"://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js,fjs);
            }
        }(document,"script","twitter-wjs");
    </script>


    <script type="text/javascript">

        $(document).ready(function(){
            $(".thumbnail").click(function(){
                var content = $(this).html();
                $(".modal-body").html(content);
            });
        });

    </script>

</body>

</html>
